@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  --grey-background: #e2e8f0;
  --blue-background: #0ea5e9;
}

html body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: 300px 3fr;
  grid-template-rows: repeat(2, 200px) 1fr 1fr;
  height: 100%;

}
.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  border: 2px solid black;
  grid-template-rows: 100px 100px;
  padding-left: 50px;
}

.search-bar {
  display: grid;
  grid-template-columns: 30px clamp(400px, 60%, 700px);
  gap: 15px;
  margin-top: 25px;
}

.search-bar>input {
  border-radius: 50px;
  border: none;
  background-color: var(--grey-background);
  height: 30px;
}
.search-bar>svg {
  height: 30px;
}
.search-notif-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.user-info {
  display: grid;
  grid-template-columns: 80px 400px;
  gap: 30px;
}
.profile-pic {
  height: 70px;
  align-self: center;
  justify-self: center;
}
.user-info>p{
  font-size: 1rem;
  font-weight: bold;
  align-self: center;
  justify-self: start;
}
.user-info>p>span{
  font-size: 1.5rem;
  font-weight: bold;
}
.user-and-button-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 120px
}
.notif-section {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  margin-top: 5px;
}
.notif-section> * {
  align-self: center;
  justify-self: center;
}
.notif-section>svg {
  height: 30px;
}
.notif-section>img {
  height: 50px;
}
.notif-section>p {
  font-weight: bold;
}
.button-section {
  align-self: center;
  justify-self: center;
}
.button-section>ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 35px;
  font-family: inherit;
}
.button-section>ul>li>button {
  border-radius: 20px;
  border: none;
  padding: 10px 20px;
  width: 100px;
  background-color: var(--blue-background);
  color: white;
  font-weight: bold;
}

.content-container {
  grid-column: 2 / 3;
  grid-row: 2 / span 3;
  background-color: var(--grey-background);
  padding: 30px 15px;
  
}
.side-bar {
  background-color: var(--blue-background);
  grid-row: span 4;
  display: grid;
  grid-template-rows: 100px repeat(7, 50px) 100px;
}
.side-bar-title>*, .side-bar-pic>*{
  align-self: center;
  justify-self: center;
}
.side-bar-title>svg {
  height: 50px;
  grid-column: 1 / 2;
}
.side-bar-title>p {
  font-size: 2rem;
  justify-self: start;
}
.side-bar-pic, .side-bar-title{
  display: grid;
  grid-template-columns: 80px 1fr;
}
.side-bar-pic>svg {
  height: 20px;
  grid-column: 1 / 2;
}
.side-bar-pic>p {
  justify-self: start;
}
.side-bar>div:last-child {
  display: grid;
  grid-row: 9 / -1;
  row-gap: 30px;
}
